
body
{
    background-color: #f8f9f9;
    font-family: 'DIN alternate','Roboto', sans-serif;
}

#wrapper
{
    width: 980px;
    height: 765px;
    margin: 0 auto;
}

/*header*/
#mainHead
{
    width:980px;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#logo
{
    color: black;
    width: 20%;
    height: 40px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 2px solid grey;
}

#logo:hover {
    display: inline-block;
    padding: 10px;
    background-color: rgb(173, 173, 173);
    border: 1px solid rgb(233, 232, 232);
    transition: background color 4s ease-in;
}


#search
{
    width: 75%;
    height: 40px;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid grey;
    border-left: none;
}

#search:hover
{ 
    display: inline-block;
    padding: 10px;
    background-color: rgb(173, 173, 173);
    border: 1px solid rgb(233, 232, 232);
    transition: background color 4s ease-in; 
}

#searchIcon
{
    width: 5%;
    height: 40px;
    margin: 20px 0px 20px 0px;
    border: 2px solid grey;
    border-left: none;
    display: flex;
    flex-direction: row;
}

#searchIcon svg
{
    width: 60%;
    height: 60%;
    align-self: center;
    padding: 0 10px;
}

/*title of icon set*/
#title
{
    width: 980px;
    height: 45px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
}

#text
{
    width: 860px;
}

#title h1
{
    font-size: 30px;
}

#title h2
{
    color: grey;
}

button
{
    width: 120px;
    height: 45px;
    font-size: 15px;
    font-family: DIN alternate, sans-serif;
    text-align: center;
    display: block;
    text-decoration-color: aliceblue;
    background-color: rgb(173, 173, 173);
    border: 1px solid rgb(233, 232, 232);
    padding: 10px;
    transition: background 2s ease-in,
                color 1s;
}


#downloadOpt h1{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    opacity: 0.5;
    display: block;
    padding: 20px;

}

.menu {
    display: flex;
    justify-content: center;
}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
    background-color: rgb(173, 173, 173);
    border: 1px solid rgb(233, 232, 232);
    transition: background color 4s ease-in;
}

.menu a {
    display: block;
    position: relative;
    overflow: hidden;
  }
   
.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu a span {
    transition: transform 0.2s ease-out;
}
   
.menu a:hover span:first-child {
    transform: translateY(100%);
}
   
.menu a:hover span:last-child {
    transform: none;
}

/*icons*/
#iconWrapper
{
    width: 980px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.iconBox
{
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width: 190px;
    height: 190px;
    margin: 2px;
}

.iconBox h1
{
    padding-top: 20px;
    font-size: 10px;
    opacity: 0.5;
}

#iconWrapper svg
{
    width: auto;
    height: 100px;
}

.faceBook:hover {
    transform: scale(1.3);
    color: rgb(3, 56, 53); 
    border-radius: 5px;
    background-color: rgb(119, 155, 118);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.googlePlus:hover {
    transform: scale(1.3);
    color: rgb(3, 56, 53); 
    border-radius: 5px;
    background-color: rgb(119, 155, 118);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.instaGram:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    border-radius: 5px;
    background-color: rgb(245, 211, 76);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.linkedIn:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    border-radius: 5px;
    background-color: rgb(179, 243, 95);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.pintErest:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    border-radius: 3px;
    background-color: rgb(78, 82, 82);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.twitteR:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    border-radius: 3px;
    background-color: rgb(93, 41, 235);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.whatsApp:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    background-color: rgb(250, 242, 88);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.youTube:hover{
    transform: scale(1.2);
    color: rgb(3, 56, 53); 
    border-radius: 3px;
    background-color: rgb(78, 82, 82);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.snapChat:hover{
    transform: scale(1.2); 
    border-radius: 3px;
    background-color: rgb(78, 82, 82);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

.tumblR:hover{
    transform: scale(1.2); 
    border-radius: 3px;
    background-color: rgb(139, 242, 66);
    transition: background 2s ease-in,
                transform 2.5s ease-out,
                color 1s;
}

footer
{
    text-align: center;
    font-size: 10px;
}

.selected
{
  animation: roll 3s 1;
  transform: rotate(360deg);
}

@keyframes roll 
{
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}








